        <div class="modal hide fade" data-keyboard="false" id="modalAlimentacao" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <h5 class="modal-title text-light" id="exampleModalLabel">Pagamento Vale Alimentação</h5>
                        </div>
                        <div class="modal-body bg-light text-center">
                        </div>
                        <div class="modal-footer text-center bg-light">
                        <button class="btn btn-danger" data-dismiss="modal">Fechar</button>
                        <button class="btn btn-primary action">Cadastrar Pagamento</button>
                        </div>
                    </div>
                </div>
            </div> <!-- END MODALNFCE -->