     
        <div class="modal fade" data-keyboard="false" id="modalQR" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header bg-dark">
                        <h5 class="modal-title text-light" id="exampleModalLabel">Visualizar NFC-e</h5>
                    </div>
                    <div class="modal-body bg-light text-center">
                        <div id="qrcode" class="col-md-12"></div>
                    </div>
                    <div class="modal-footer text-center bg-light">
                        <button class="btn btn-danger" data-dismiss="modal" id="btnFechar" >Fechar</button>
                        <a href="#" id="accessNFCe" target="_blank">
                            <button class="btn btn-success">NFC-e</button>
                        </a>
                    </div>
                </div>
            </div>
        </div> <!-- END MODALNFCE -->