<div class="card-deck">
    <div class="card mt-2 mb-2" style="width: 18rem;">       
        <i class="far fa-money-bill-alt fa-4x mx-auto" id='btnDinheiro' style='cursor:pointer;color:#a6cbba' title='Dinheiro'></i>
        <div class="card-body mx-auto">
            <p class="card-text">Dinheiro</p>
        </div>
  </div>
    <div class="card mt-2 mb-2" style="width: 18rem;">
        <i class="fas fa-money-check-alt fa-4x" id='btnCheque' style='cursor:pointer;color:#e1d4ba' title='Cheque'></i>
        <div class="card-body">
            <p class="card-text">Cheque</p>
        </div>
  </div>
    <div class="card mt-2 mb-2" style="width: 18rem;">
        <i class="fas fa-credit-card fa-4x" id='btnCredito' style='cursor:pointer;color:#9920c8' title='Cartão de Crédito'></i>
        <div class="card-body">
            <p class="card-text">Cartão de Crédito</p>
        </div>
  </div>  
  <div class="w-100"></div>
    <div class="card mt-2 mb-2" style="width: 18rem;">
        <i class="fas fa-credit-card fa-4x" id='btnDebito' style='cursor:pointer;color:#00884a' title='Cartão de Débito'></i>
        <div class="card-body">
            <p class="card-text">Cartão de Débito</p>
        </div>
  </div>
    <div class="card mt-2 mb-2" style="width: 18rem;">
        <i class="fas fa-credit-card fa-4x" id='btnAlimentacao' style='cursor:pointer;color:#009C37' title='Vale Alimentação '></i>
        <div class="card-body">
            <p class="card-text">Vale Alimentção</p>
        </div>
  </div>
    <div class="card mt-2 mb-2" style="width: 18rem;">
        <i class="fas fa-credit-card fa-4x" id='btnRefeicao' style='cursor:pointer;color:#fee000' title='Vale Refeição'></i>
        <div class="card-body">
            <p class="card-text">Vale Refeição</p>
        </div>
  </div>
  </div>