<form method="post" id="formInutilizar" style="display:none">
    <div class="form-group">
        <label for="exampleFormControlInput1">Inicio da Numeração</label>
        <input type="number" class="form-control" id="inputInicio" name="inputInicio" placeholder="Inicio da Numeração">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Fim da Numeração</label>
        <input type="number" class="form-control" id="inputFim" name="inputFim" placeholder="Fim da Numeração">
    </div>
</form>