<form id="formEmissor" style="display:none">
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">CPF/CNPJ</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputCNPJ" name="inputCNPJ" placeholder="CPF/CNPJ">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">Nome Fantasia</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputFantasia" name="inputFantasia" placeholder="Nome Fantasia">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">Razão Social</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputSocial" name="inputSocial" placeholder="Razão Social">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">Endereço</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputEndereco" name="inputEndereco" placeholder="Endereço">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">Número</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputNumero" name="inputNumero" placeholder="Número">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">Bairro</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputBairro" name="inputBairro" placeholder="Bairro">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">Telefone</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputTelefone" name="inputTelefone" placeholder="Telefone">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">CEP</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputCEP" name="inputCEP" placeholder="CEP">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">Cidade</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputCidade" name="inputCidade" placeholder="Cidade">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">UF</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputUF" name="inputUF" placeholder="UF">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">Pais</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputPais" name="inputPais" placeholder="Pais">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">Código Pais</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputCPais" name="inputCPais" placeholder="Código Pais">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">Código Município</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputCMunicipio" name="inputCMunicipio" placeholder="Código Município">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">CNAE</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputCNAE" name="inputCNAE" placeholder="CNAE">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">CRT</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputCRT" name="inputCRT" placeholder="CRT">
        </div>
    </div>
    <div class="form-group row mt-4">
        <label class="col-sm-2 col-form-label">IM</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputIM" name="inputIM" placeholder="IM">
        </div>
    </div>
    <div class="form-group row mt-2 mb-2">
        <label class="col-sm-2 col-form-label">IE</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="inputIE" name="inputIE" placeholder="IE">
        </div>
    </div>
</form>