<form>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Natureza da Operação</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>...</option>
            <option>Venda de mercadorias</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Finalidade da NFC-e</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>...</option>
            <option value="1">Normal</option>
            <option value="2">Complementar</option>
            <option value="3">Ajuste</option>
            <option value="4">Devolução</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Indicador de presença do comprador</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>...</option>
            <option value="0">Não se aplica</option>
            <option value="1">Operação presencial</option>
            <option value="2">Operação não presencial, pela Internet</option>
            <option value="3">Operação não presencial, Teleatendimento</option>
            <option value="4">NFC-e em operação com entrega a domicílio</option>
            <option value="9">Operação não presencial, outros</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Processo de emissão da NFC-e</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>...</option>
            <option value="0">Emissão com aplicativo do contribuinte</option>
            <option value="1">Emissão avulsa pelo Fisco</option>
            <option value="2">Emissão avulsa, pelo contribuinte com seu certificado digital, através do site do Fisco</option>
            <option value="3">Emissão pelo contribuinte com aplicativo fornecido pelo Fisco</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Identificador de local de destino da operação</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>...</option>
            <option value="1">Operação interna</option>
            <option value="2">Operação interestadual</option>
            <option value="3">Operação com exterior</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Formato de Impressão do DANFE</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>...</option>
            <option value="0">Sem geração de DANFE</option>
            <option value="1">DANFE normal, Retrato</option>
            <option value="2">DANFE normal, Paisagem</option>
            <option value="3">DANFE Simplificado</option>
            <option value="4">DANFE NFC-e</option>
            <option value="5">DANFE NFC-e em mensagem eletrônica (o envio de mensagem eletrônica pode ser feita de forma simultânea com a impressão do DANFE</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Tipo de Emissão da NF-e</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>...</option>
            <option value="1">Emissão normal (não em contingência)</option>
            <option value="2">Contingência FS-IA, com impressão do DANFE em formulário de segurança</option>
            <option value="3">Contingência SCAN (Sistema de Contingência do Ambiente Nacional)</option>
            <option value="4">Contingência DPEC (Declaração Prévia da Emissão em Contingência)</option>
            <option value="5">Contingência FS-DA, com impressão do DANFE em formulário de segurança</option>
            <option value="6">Contingência SVC-AN (SEFAZ Virtual de Contingência do AN)</option>
            <option value="7">Contingência SVC-RS (SEFAZ Virtual de Contingência do RS)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Identificação do Ambiente</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>...</option>
            <option value="1">Produção</option>
            <option value="2">Homologação</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Código do Modelo do Documento Fiscal</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>...</option>
            <option value="55">NF-e emitida em substituição ao modelo 1 ou 1A</option>
            <option value="65">NFC-e, utilizada nas operações de venda no varejo (a critério da UF aceitar este modelo de documento)</option>
        </select>
    </div>
    <div class="form-group">
            <i class="far fa-save fa-3x mr-1" title="Salvar" id='salvarConfig' style='cursor:pointer;color:green'></i>
            <i class="fas fa-ban fa-3x ml-1" title="Resetar" id='salvarConfig' style='cursor:pointer;color:red'></i>
    </div>
</form>
