     
        <div class="modal fade" data-keyboard="false" id="apiModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-dark">
                            <h5 class="modal-title text-light" id="exampleModalLabel"></h5>
                        </div>
                        <div class="modal-body bg-light text-center">
                            <div class="chart mx-auto" data-percent="100"></div>                        
                            <p>Enviando NFC-e para o Sefaz, isso pode levar até 30s</p>
                        </div>
                        <div class="modal-footer text-center bg-light">
                        <button class="btn btn-danger modalApi_fechar" data-dismiss="modal">Fechar</button>
                        <button class="btn btn-primary action" style="display:none"></button>
                        </div>
                    </div>
                </div>
            </div> <!-- END MODALNFCE -->