<div id="apiModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>     
            <div class="modal-body">
            </div><!-- END .modal-body --> 
            <div class="modal-footer">
            </div>         
        </div><!-- END .modal-content -->
    </div><!-- END .modal-dialog -->
</div> <!--#apicrudModal-->